{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-lg-6 mx-auto">
            <img src="https://via.placeholder.com/150"alt="" class="rounded mx-auto d-block img-thumbnail" width="200" style="margin-bottom: 15px">

            <div class="card text-center">
                <div class="card-header">
                    {{ artist.realName }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ artist.name }}</h5>
                    <p class="card-text">{{ artist.summary | nl2br }}</p>
                </div>
                <div class="card-footer text-muted">
                    {{ artist.birthDate | date("d-m-Y") }}
                </div>
            </div>
            <p></p>
            <h2>Albums</h2>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for album in artist.albums %}
                    <div class="col">
                        <div class="card h-100">
                            <img src="https://via.placeholder.com/300"  alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ album.name }}</h5>
                                <p class="card-text">
                                    {% for a in album.artists %}
                                        {% if loop.last %}
                                            {{ a.name }}
                                        {% else %}
                                            {{ a.name }}, &nbsp
                                        {% endif %}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p></p>
            <h2>Apparitions</h2>

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Album</th>
                    <th scope="col">Artiste(s)</th>
                </tr>
                </thead>
                <tbody>
                {% set i = 1  %}
                {% for f in artist.titles %}
                    <tr>
                        <th scope="col" style="vertical-align: middle">{{ i }}</th>
                        <th scope="col" style="vertical-align: middle">
                            <img src="https://via.placeholder.com/50" alt="">&nbsp&nbsp{{ f.name }}
                        </th>
                        <th scope="col" style="vertical-align: middle">
                            {{ f.album.name }}
                        </th>
                        <th scope="col" style="vertical-align: middle">
                            {% for art in f.album.artists %}
                                {{ art.name }}, &nbsp
                            {% endfor %}
                            {% for ft in f.feats %}
                                {% if loop.last %}
                                    {{ ft.name }}
                                {% else %}
                                    {{ ft.name }}, &nbsp
                                {% endif %}
                            {% endfor %}
                        </th>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
                </tbody>
            </table>

            <p></p>
            <a class="btn btn-dark" href="{{ path('app_dashboard') }}">Retour</a>

            {% if is_granted("ROLE_ADMIN") %}

            <a class="btn btn-dark" href="{{ path('app_artist_edit', {'id': artist.id}) }}">Modifier</a>

            {{ include('artist/_delete_form.html.twig') }}
            {% endif %}
        </div>



    </div>



{% endblock %}
