{% extends 'base.html.twig' %}

{% block title %}Album{% endblock %}

{% block body %}
    <h1>Album</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ album.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ album.name }}</td>
            </tr>
            <tr>
                <th>Release_date</th>
                <td>{{ album.releaseDate ? album.releaseDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Tracks</th>
                <td>
                    {% for t in album.titles %}
                    <div>
                        <p>{{ t.name }}</p>
                        <p>
                           {% for ar in t.album.artists %}
                               {% if loop.last %}
                                   <a href="{{ path('app_artist_show', {'id': ar.id}) }}">{{ ar.name }}</a>
                               {% else %}
                                   <a href="{{ path('app_artist_show', {'id': ar.id}) }}">{{ ar.name }}, </a>
                               {% endif %}
                           {% endfor %}
                            {% for f in t.feats %}
                                {% if loop.last %}
                                    <a href="{{ path('app_artist_show', {'id': f.id}) }}">{{ f.name }}</a>
                                {% else %}
                                    <a href="{{ path('app_artist_show', {'id': f.id}) }}"> {{ f.name }}, </a>
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_album_index') }}">back to list</a>

    <a href="{{ path('app_album_edit', {'id': album.id}) }}">edit</a>

    {{ include('album/_delete_form.html.twig') }}
{% endblock %}
